EXPO_PUBLIC_API_URL=https://api.example.com
EXPO_PUBLIC_GPT_API_URL=https://api.openai.com/v1
EXPO_PUBLIC_GPT_MODEL=gpt-4o-mini
EXPO_PUBLIC_SUPABASE_URL=https://nwaqdinhdtqqdcjcpxnq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53YXFkaW5oZHRxcWRjamNweG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMDU2NTEsImV4cCI6MjA4NDg4MTY1MX0.swfzUBJf56cULArpzsrHBKAeqenxIMz2PqFIA0UvBvU
EXPO_PUBLIC_REVENUECAT_API_KEY=test_mRkcodvVQxGmBemsQTGAyxIwtOx
EXPO_PUBLIC_POSTHOG_API_KEY=
EXPO_PUBLIC_POSTHOG_HOST=https://app.posthog.com
EXPO_PUBLIC_SENTRY_DSN=https://8ea001abfdbc0edf6cbe289da05798f0@o4505678380531712.ingest.us.sentry.io/4510816558907392
SENTRY_ORG=ai-quotes
SENTRY_PROJECT=ai-quotes
SENTRY_AUTH_TOKEN=your-sentry-auth-token